<!DOCTYPE html><meta charset=utf8>
{% assign baseurl = site.baseurl | default: '/' | replace_first: '/', page.base %}
<style>
body {
 background-color: #415;
}
img[alt=drit-logo] { float: right; max-width: 80px; max-height: calc(100% - 2rem) }
body > div:nth-child(1) { margin-top: 10vw; }
body > div {
 padding: 0.8rem;
 max-width: 800px;
 margin: auto;
 background-color: white;
 box-shadow: 5px 5px 15px 2px rgba(4,3,5,0.9);
}
</style>
<div id=container>
{{content}}
</div>
<br>
<div id=about>
<img src={{baseurl}}img/michel-circ.png align=right width=120 height=120>
Michel Combes (aka <a href=https://www.drit.ml/>Doctor I·T</a>)
is an CS engineer with 25+years of experience in both hardware and software industries.
He worked for Intel, Infineon, Texas Instruments, as well as successful startups across the industry.
He architects <a href=https://duckduckgo.com/?q=%22eco+organic+technology%22+!g>sustainable technologies</a> and specifically <a href="https://google.com/search?q=%22blockRing%22+technolgy">blockRings</a> with
application in CivicTech, FinTech and HealthTech

</div>
